p {
  font-family: arial;
}

.model {
  font-size: 45px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 4px;
}

.order {
  margin-top: 0px;
  margin-left: 40px;
}

.less {
  text-decoration: underline;
}