

.thumbnail {
  width: 100%;  
}

.video-title {
  margin-top: 3px;
  font-size: 14px;
  font-weight: 550;
  line-height: 17px;
  margin-bottom: 10px;
}



.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  
}

.meow {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.video-stats,
.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding-bottom: 60px;
  z-index: -1;
}

@media (max-width: 650px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 2px;
  font-family: roboto,arial;
  font-size: 12px;
  font-weight: 500;
}

.video-link {
  color: black;
  text-decoration: none;
}

.video-link:visited {
  text-decoration: none;
  color: inherit;
}

.channel-pic-con {
  position: relative;
  cursor: pointer;
}

.channel-photoo {
  height: 50px;
  border-radius: 35px;
  margin-right: 12px;
  margin-left: 12px;
}

.tooltipp {
  position: absolute;
  width: 220px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgb(240, 240, 240);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.15;
  pointer-events: none;
  z-index: 1001;
}

.author-name {
  font-weight: bold;
  font-size: 15px;
}

.author-views {
  color: gray;
  font-size: 13px;
}

.channel-pic-con:hover .tooltipp {
  opacity: 1;
}